# Packages and data loading

In [59]:
pip freeze

anyio @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-t_zs64wy/anyio_1644482593257/work/dist
appdirs==1.4.4
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/croot-wbf5edig/argon2-cffi-bindings_1644845754377/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
async-generator==1.10
attrs==23.1.0
Babel @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_00k1rl2pus/croot/babel_1671781944131/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4==4.12.2
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.6.3
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_07078715-3ab7-4562-8d3d-d56b0eaa0f7dp504n_ny/croots/recipe/bottleneck_1657175566567/work
brotlipy==0.7.0
certifi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bweqb8byn/croot/certifi_1690232244779/work/certifi
cffi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ab19r4bji3/croot/cffi_1670423206034/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
contourpy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_97c8ctlp86/croots/recipe/contourpy_1663827422071/work
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a9zjqvif1f/croot/cryptography_1677533099634/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///Users/ktietz/ci_310/debugpy_1643965577625/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
entrypoints @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-jb01gaox/entrypoints_1650293758411/work
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fast-histogram @ file:///Users/ktietz/ci_310/fast-histogram_1644261872843/work
fastjsonschema==2.17.1
Flask==3.0.0
fonttools==4.25.0
h11==0.14.0
hubspot-api-client==8.1.1
hubspot3==3.2.52
idna @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_771olrhiqw/croot/idna_1666125579282/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1682176699712/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1655369698656/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1683226209954/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
itsdangerous==2.1.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_9fjgzv9ant/croot/jinja2_1666908141308/work
joblib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_70fph11sxu/croot/joblib_1666298846160/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d9tjy9j5w9/croot/jsonschema_1676558687376/work
jupyter-server @ file:///opt/conda/conda-bld/jupyter_server_1644494914632/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1681432441054/work
jupyter_core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d1sy1hlz9t/croot/jupyter_core_1679906585151/work
jupyterlab @ file:///opt/conda/conda-bld/jupyterlab_1647445413472/work
jupyterlab-server @ file:///opt/conda/conda-bld/jupyterlab_server_1644500396812/work
kiwisolver @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_93o8te804v/croot/kiwisolver_1672387163224/work
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_12c133f5-0720-4727-9c18-599a3af825723lzwham3/croots/recipe/markupsafe_1654597866058/work
matplotlib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_05rfi32zzb/croot/matplotlib-suite_1679593473526/work
matplotlib-inline @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f6fdc0hldi/croots/recipe/matplotlib-inline_1662014472341/work
mistune @ file:///Users/ktietz/ci_310/mistune_1643966732634/work
mlxtend==0.22.0
mpl-scatter-density @ file:///home/conda/feedstock_root/build_artifacts/mpl-scatter-density_1596626732308/work
munkres==1.1.4
nbclassic @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d6oy9w0m3l/croot/nbclassic_1681756176477/work
nbconvert==5.5.0
nbformat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cbnf5nccgk/croot/nbformat_1694616744196/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx==3.1
notebook_shim @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f8mr1gjfb7/croot/notebook-shim_1668160580414/work
numexpr @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_98sxk8lloi/croot/numexpr_1668713874222/work
numpy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d18vvv3mag/croot/numpy_and_numpy_base_1672336185310/work
openpyxl==3.1.2
outcome==1.2.0
packaging @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e946luvhc3/croot/packaging_1678965323926/work
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
patsy==0.5.3
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.4.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1682644429438/work
plotly==5.14.1
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
prometheus-client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_25sgeyk0j5/croots/recipe/prometheus_client_1659455103277/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
psutil @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1310b568-21f4-4cb0-b0e3-2f3d31e39728k9coaga5/croots/recipe/psutil_1656431280844/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681904169130/work
pyOpenSSL @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_38h4axtq38/croot/pyopenssl_1677607699670/work
pyparsing @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3b_3vxnd07/croots/recipe/pyparsing_1661452540919/work
pyrsistent==0.19.3
PySocks @ file:///Users/ktietz/ci_310/pysocks_1643961536721/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
pytz @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c56ru3yml9/croot/pytz_1671697451306/work
pyzmq @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a7d9jpero7/croot/pyzmq_1682697648735/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
scikit-learn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0emnaja2ey/croot/scikit-learn_1680198750676/work
scipy==1.10.1
seaborn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2ci8qzbdyk/croot/seaborn_1673479197351/work
selenium==4.10.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
simplejson==3.19.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels==0.14.0
tenacity==8.2.2
terminado @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_fcfvyc0an2/croot/terminado_1671751835701/work
testpath @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8eff48dc-c5e8-4dc1-bdf5-49b333fc562a74hpzn48/croots/recipe/testpath_1655908554731/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tornado @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a61b4xoie9/croots/recipe/tornado_1662061692951/work
tqdm==4.65.0
traitlets @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_6301rd5qbe/croot/traitlets_1671143894285/work
trio==0.22.0
trio-websocket==0.10.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
urllib3 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c7xh0_scrc/croot/urllib3_1680254693282/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client @ file:///Users/ktietz/ci_310/websocket-client_1643972661291/work
Werkzeug==3.0.0
wsproto==1.2.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
Note: you may need to restart the kernel to use updated packages.

In [60]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import date
import sklearn
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from pathlib import Path

In [61]:
# We load both network and stripe fees files, and concat them

stripe = pd.read_csv('Oct_stripe_RADAR.csv')

In [62]:
stripe['balance_transaction_description']

0         Card Account Updater (CAU) (2023-10-01): Updates
1                              Network Tokens (2023-10-01)
2           Card payments (2023-10-01): Stripe volume fees
3           Card payments (2023-10-01): Stripe volume fees
4           Card payments (2023-10-01): Stripe volume fees
                               ...
71637    Connect (2023-10-01 - 2023-10-31): Account Ini...
71638                       3D Secure (2023-10-31): Lookup
71639    Connect (2023-10-01 - 2023-10-31): Account Vol...
71640        Connect (2023-10-01 - 2023-10-31): Payout Fee
71641    Connect (2023-10-01 - 2023-10-31): Active Acco...
Name: balance_transaction_description, Length: 71642, dtype: object

In [63]:
# Then we merge both dataframe to work and perform analysis on an unique one

stripe['balance_transaction_reporting_category'] = stripe['balance_transaction_reporting_category'].replace('fee','stripe_fees')

df = stripe.copy()

# Some cleaning for future easier computation

df.card_brand = df['card_brand'].fillna(value='unknown')
df.card_funding = df['card_brand'].fillna(value='unknown')
df['month_year'] = pd.to_datetime(df['activity_at']).dt.strftime('%m-%Y')

df.head()

,balance_transaction_id,balance_transaction_created_at,balance_transaction_reporting_category,balance_transaction_component,event_type,activity_at,activity_interval_type,activity_start_date,activity_end_date,currency,...,card_country,statement_descriptor,payment_metadata[destination],refund_id,dispute_id,transfer_id,connected_account_id,connected_account_name,connected_account_country,connected_account_direct_charge_id
0,txn_1Nwc8mFq1BiPgN2KSczsMnBS,2023-10-02 02:45:48,stripe_fees,other_fee,fee,2023-10-01 23:59:59,range,2023-10-01,2023-10-01,eur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,txn_1Nwc95Fq1BiPgN2K2ZokO7dm,2023-10-02 02:46:07,stripe_fees,other_fee,NaN,2023-10-01 23:59:59,range,2023-10-01,2023-10-01,eur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,txn_1NwetxFq1BiPgN2KtZz09OOU,2023-10-02 05:42:41,stripe_fees,volume_fee,charge_captured,2023-10-01 19:19:58,instant,2023-10-01,2023-10-01,eur,...,FR,Puissante,NaN,NaN,NaN,NaN,acct_1JnNxk2EjHgjyRYx,Puissante,FR,NaN
3,txn_1NwetxFq1BiPgN2KtZz09OOU,2023-10-02 05:42:41,stripe_fees,volume_fee,charge_captured,2023-10-01 20:04:27,instant,2023-10-01,2023-10-01,eur,...,FR,Zelys,NaN,NaN,NaN,NaN,acct_1LT4a22HsmZAUOLF,Zelys,FR,NaN
4,txn_1NwetxFq1BiPgN2KtZz09OOU,2023-10-02 05:42:41,stripe_fees,volume_fee,charge_captured,2023-10-01 18:35:11,instant,2023-10-01,2023-10-01,eur,...,FR,Lilly Skin,NaN,NaN,NaN,NaN,acct_1M0AtQCMnGdwijAc,Lilly Skin,FR,NaN

# First insigths

In [64]:
# We display our dataframe columns name

df.columns

Index(['balance_transaction_id', 'balance_transaction_created_at',
       'balance_transaction_reporting_category',
       'balance_transaction_component', 'event_type', 'activity_at',
       'activity_interval_type', 'activity_start_date', 'activity_end_date',
       'currency', 'amount', 'customer_facing_currency',
       'customer_facing_amount', 'balance_transaction_description', 'fee_id',
       'automatic_payout_id', 'automatic_payout_effective_at', 'charge_id',
       'payment_intent_id', 'invoice_id', 'invoice_number', 'subscription_id',
       'payment_method_type', 'is_link', 'card_brand', 'card_funding',
       'card_country', 'statement_descriptor', 'payment_metadata[destination]',
       'refund_id', 'dispute_id', 'transfer_id', 'connected_account_id',
       'connected_account_name', 'connected_account_country',
       'connected_account_direct_charge_id'],
      dtype='object')

In [65]:
# We compute unique value count for each column and load it in a dataframe so we can save it as csv for later analysis

resultat = pd.DataFrame({'Nom de la colonne': df.nunique().index, 'Nombre d\'éléments uniques': df.nunique().values})

resultat

                         Nom de la colonne  Nombre d'éléments uniques
0                   balance_transaction_id                        191
1           balance_transaction_created_at                        189
2   balance_transaction_reporting_category                          1
3            balance_transaction_component                          3
4                               event_type                          9
5                              activity_at                      67515
6                   activity_interval_type                          2
7                      activity_start_date                         31
8                        activity_end_date                         31
9                                 currency                          1
10                                  amount                       5849
11                customer_facing_currency                          0
12                  customer_facing_amount                          0
13         balance_transaction_description                        191
14                                  fee_id                      71515
15                     automatic_payout_id                          0
16           automatic_payout_effective_at                          0
17                               charge_id                      23361
18                       payment_intent_id                      23231
19                              invoice_id                          0
20                          invoice_number                          0
21                         subscription_id                          0
22                     payment_method_type                          1
23                                 is_link                          1
24                              card_brand                          6
25                            card_funding                          3
26                            card_country                         77
27                    statement_descriptor                        230
28           payment_metadata[destination]                          0
29                               refund_id                       1237
30                              dispute_id                          0
31                             transfer_id                          0
32                    connected_account_id                        230
33                  connected_account_name                        230
34               connected_account_country                          2
35      connected_account_direct_charge_id                          0

# Overall dive-deep

In [66]:
# First we check which type of combination between fee categories and their name exist and their count

df[['balance_transaction_reporting_category','balance_transaction_component','balance_transaction_id']].groupby(['balance_transaction_reporting_category','balance_transaction_component']).size().reset_index(name='nb_transaction')

,balance_transaction_reporting_category,balance_transaction_component,nb_transaction
0,stripe_fees,other_fee,127
1,stripe_fees,per_auth_fee,47677
2,stripe_fees,volume_fee,23838

In [67]:
# Then we check which card brand could be involved in the transactions, and which type of card it is (debit/credit)

df[['card_brand','card_funding']].groupby(['card_brand','card_funding']).size().reset_index(name='nb_transaction')

         card_brand card_funding  nb_transaction
0  American Express       credit            1594
1       Diners Club       credit               4
2          Discover       credit               6
3        MasterCard       credit            4904
4        MasterCard        debit           18074
5        MasterCard      prepaid             486
6          UnionPay        debit               8
7              Visa       credit           12013
8              Visa        debit           34352
9              Visa      prepaid              74

In [68]:
# Then we can combine both and display count of each card brand/funding combination and their corresponding fee nale/category

df[['card_brand','card_funding','balance_transaction_reporting_category','balance_transaction_component','balance_transaction_id']].groupby(['card_brand','card_funding','balance_transaction_reporting_category','balance_transaction_component']).count().rename(columns={'balance_transaction_id': 'nb'})

                                                                                                       nb
card_brand       card_funding balance_transaction_reporting_category balance_transaction_component
American Express credit       stripe_fees                            per_auth_fee                    1034
                                                                     volume_fee                       560
Diners Club      credit       stripe_fees                            per_auth_fee                       4
Discover         credit       stripe_fees                            per_auth_fee                       4
                                                                     volume_fee                         2
MasterCard       credit       stripe_fees                            per_auth_fee                    3293
                                                                     volume_fee                      1611
                 debit        stripe_fees                            per_auth_fee                   12069
                                                                     volume_fee                      6005
                 prepaid      stripe_fees                            per_auth_fee                     347
                                                                     volume_fee                       139
UnionPay         debit        stripe_fees                            per_auth_fee                       8
Visa             credit       stripe_fees                            per_auth_fee                    7973
                                                                     volume_fee                      4040
                 debit        stripe_fees                            per_auth_fee                   22891
                                                                     volume_fee                     11461
                 prepaid      stripe_fees                            per_auth_fee                      54
                                                                     volume_fee                        20

In [69]:
# Finally we compute fixed and variables mean fees for each combination

df[['card_brand','card_funding','balance_transaction_reporting_category','balance_transaction_component','balance_transaction_description','amount']].groupby(['card_brand','card_funding','balance_transaction_reporting_category','balance_transaction_component','balance_transaction_description'])[['amount']].mean()

                                                                                                                                                         amount
card_brand       card_funding balance_transaction_reporting_category balance_transaction_component balance_transaction_description
American Express credit       stripe_fees                            per_auth_fee                  Card payments (2023-10-01 - 2023-10-31): adjust...  0.050000
                                                                                                   Card payments (2023-10-01): Stripe per-authoriz... -0.170000
                                                                                                   Card payments (2023-10-02): Stripe per-authoriz... -0.127353
                                                                                                   Card payments (2023-10-03): Stripe per-authoriz... -0.120000
                                                                                                   Card payments (2023-10-04): Stripe per-authoriz... -0.120000
...                                                                                                                                                         ...
Visa             prepaid      stripe_fees                            volume_fee                    Card payments (2023-10-23): Stripe volume fees      0.882300
                                                                                                   Card payments (2023-10-24): Stripe volume fees     -0.100500
                                                                                                   Card payments (2023-10-26): Stripe volume fees     -0.186000
                                                                                                   Card payments (2023-10-29): Stripe volume fees     -0.472500
                                                                                                   Card payments (2023-10-30): Stripe volume fees     -1.457400

[423 rows x 1 columns]

In [80]:
# Finally we group by the type of event and save it as csv

# to_dl = df[['card_brand','card_funding','balance_transaction_reporting_category','balance_transaction_component','balance_transaction_description','amount']].groupby(['card_brand','card_funding','balance_transaction_reporting_category','balance_transaction_component','balance_transaction_description'])[['amount']].sum()

A = df[df['balance_transaction_description'].str.contains('Payout', case=False)]
B = df[df['balance_transaction_description'].str.contains('3D', case=False)]
C = df[df['balance_transaction_description'].str.contains('Radar', case=False)]

tot = pd.concat([A,B,C], axis=0)

to_dl = tot[['balance_transaction_description','amount']].groupby('balance_transaction_description')[['amount']].sum()

to_dl.to_csv('stripe_p&l_RADAR.csv')

------------

# Deeper analysis

To get more insights and precision for this analysis, one may focus on the different features/events happening druing a given transaction. 

This part will allow having a better understanding on how the fees are applied, occuring and which value they have.

In [79]:

filtered_df = df[df['balance_transaction_description'].str.contains('Payout', case=False)]
filtered_df.card_funding

71640    unknown
Name: card_funding, dtype: object

In [78]:
df[df['balance_transaction_description'].str.contains('3D', case=False)].head()

,balance_transaction_id,balance_transaction_created_at,balance_transaction_reporting_category,balance_transaction_component,event_type,activity_at,activity_interval_type,activity_start_date,activity_end_date,currency,...,card_country,statement_descriptor,payment_metadata[destination],refund_id,dispute_id,transfer_id,connected_account_id,connected_account_name,connected_account_country,connected_account_direct_charge_id
904,txn_1NwevmFq1BiPgN2KvrGJ7jHi,2023-10-02 05:44:34,stripe_fees,other_fee,fee,2023-10-01 23:59:59,range,2023-10-01,2023-10-01,eur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5003,txn_1Nx1N5Fq1BiPgN2KeoChbBN9,2023-10-03 05:42:15,stripe_fees,other_fee,fee,2023-10-02 23:59:59,range,2023-10-02,2023-10-02,eur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8569,txn_1NxRIAFq1BiPgN2KPTpT1lmx,2023-10-04 09:22:54,stripe_fees,other_fee,fee,2023-10-03 23:59:59,range,2023-10-03,2023-10-03,eur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11366,txn_1NxkbDFq1BiPgN2Knv8PZa27,2023-10-05 05:59:51,stripe_fees,other_fee,fee,2023-10-04 23:59:59,range,2023-10-04,2023-10-04,eur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12102,txn_1Ny8RHFq1BiPgN2KwMBDCqZV,2023-10-06 07:27:11,stripe_fees,other_fee,fee,2023-10-05 23:59:59,range,2023-10-05,2023-10-05,eur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
list_account = df[['connected_account_id','connected_account_name']].groupby(['connected_account_id','connected_account_name']).mean()
list_account.to_csv('list_account.csv')

In [75]:
charge_per_m = df[['charge_id','connected_account_name']].groupby(['connected_account_name']).nunique()
charge_per_m

                        charge_id
connected_account_name
A Vos Conserves                 4
ALL TIGERS                     13
ART OF SOULE                   39
AVLZ Marketing                 30
Adorna                         17
...                           ...
Yacon & Co                    128
Yolaine                       255
Ypson's                        14
Zelys                         342
bdm studio                     10

[230 rows x 1 columns]